body {
  
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

.center{
  width : 100%;
  text-align: center;
  padding :20px;
  margin:15px;

}
.main{
  display: inline-block;
  width : 65%;
  margin-right: 200px;
}

.ant-fullcalendar-header{
  border-width: 1px;
  border-style: solid;
  border-color: #E5E5E5;
  border-bottom-width: 0px;
}

.ant-fullcalendar-calendar-body{
  border-width: 1px;
  border-style: solid;
  border-color: #E5E5E5;
}
.ant-tabs.ant-tabs-top.ant-tabs-line{
  border-width: 1px;
  border-style: solid;
  border-color: #E8E8E8;
  margin-top: 2em;
}
.information{
  margin-bottom: 5px;
}
.Option2{
  text-align: left;
}
input.up:hover, input.up:focus, input.up:visited {
  pointer-events: none;
  border-color: #D9D9D9 ;
  box-shadow: none;
}
.submit{
margin-top: 64px;
text-align: right;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.7em;
  }
}